/* *{
    font-size: 20px;
    text-align: center;
        margin-left: auto;
        margin-right: auto;
    } */
body{
    font-size: 25px;
    background-color: rgb(50, 177, 177);
    /* background-image: url("/img/minesweeperworld.png"); */
    background-size: cover;
  width: auto;
  height: auto;
  text-align: center;

}
/* .boom{
    text-align: center;
}
.boom td:hover{
background-color: darkgray;
} */


.difficulty{
    margin-top: 20px;
    margin-bottom: 25px;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}

.cell {
    width:auto; 
    height:auto;
    /* text-align: center; */
    background-color: rgb(182, 167, 167);
     color:white
    }
.cell img {
    width:25px; 
    height:auto
}
.inon{
    opacity: 30%;
    width: 20%;
    height: 20%;
}
.level{
   margin-bottom: 20px;
}

.clearStorage{
    background-color: rgb(74, 153, 98);
}
.clearStorage:hover{
cursor: pointer;
background-color: rgb(57, 128, 78);;

}